{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% load i18n %}
{% block head_title %}
  Shopping Cart
{% endblock head_title %}

{% block content %}
  <div class = "container pb-3">
    <h1>Shopping Cart</h1>
      <table class='table'>
        <thead>
          <tr class="text-center">
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit Price</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for item in post %}
            <tr class="text-center">
              <td>
                <a href="{{ item.product.get_absolute_url }}">
                  <img height="35" src="{{ item.product.img.url }}">
                </a>
              </td>
              <td> {{ item.product.title }} </td>
              <td>
                <div class="input-group" style="max-width: 150px;">
                  <a href="{% url 'cart:decrease-quantity' item.id %}" class="btn btn-outline-primary" type="button">&minus;</a>
                  <input type="text" class="form-control text-center" value="{{ item.quantity }}">
                  <a href="{% url 'cart:increase-quantity' item.id %}" class="btn btn-outline-primary" type="button">&plus;</a>
                </div>
              </td>
              <td>
                <a href="{% url 'cart:remove-from-cart' item.id %}" class="btn btn-danger btn-sm">Eliminar</a>
              </td>
              <td class="num">$ {{ item.product.product.get_price|intcomma }}</td>
              <td class="num">$ {{ item.get_total_item_price|intcomma }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="6">
                <div class="alert alert-warning">
                  No has agregado productos a tu carrito de compras. <a href="{% url 'store:home' %}">Ver productos</a>
                </div>
              </td>
            </tr>
          {% endfor %}
          {% if post %}
            <tr class="total">
            <td>Subtotal</td>
            <td colspan="4"></td>
            <td class="num">$ {{ order.get_subtotal|intcomma }}</td>
          </tr>
          <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">$ {{ order.get_total|intcomma }}</td>
          </tr>
          {% else %}

          {% endif %}
        </tbody>
      </table>
      <p class="text-right">
        <a href="{% url 'store:home' %}" class="btn btn-primary">Seguir Comprando</a>
        <a href="{% url 'cart:checkout' %}" class="btn btn-warning">Verificar Compra</a>
      </p>
  </div>
{% endblock content %}
